<span class="legend">PROBABILIDADE</span>

<div class="main" >
  <div *ngIf="!showExec">
    <h3>INTRODUÇÃO A PROBABILIDADE</h3>
    <div *ngFor="let mark of markdown">
      <div class="container mt-20px">
        <markdown [data]="mark.content"></markdown>
      </div>
    </div>

    <div class="leg">
      <span class="legend"> Fonte: https://brasilescola.uol.com.br/matematica/probabilidade.htm </span>
    </div>

    <div class="align-button">
      <button class="button" (click)="showExercise(true)"> EXERCÍCIOS DE FIXAÇÃO</button>
    </div>
  </div>

  <div *ngIf="showExec">
      <div class="container" [formGroup]="form">
        <h4>{{auxQuestion.descriptionQuestion}}</h4>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="opt" id="flexRadioDefault1" formControlName="opt" value="{{auxQuestion.opt1}}">
          <label class="form-check-label" for="opt">
            <a>{{auxQuestion.opt1}}</a>
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="opt" id="flexRadioDefault1" formControlName="opt" value="{{auxQuestion.opt2}}">
          <label class="form-check-label" for="opt">
            <a>{{auxQuestion.opt2}}</a>
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="opt" id="flexRadioDefault1" formControlName="opt" value="{{auxQuestion.opt3}}">
          <label class="form-check-label" for="opt">
            <a>{{auxQuestion.opt3}}</a>
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="opt" id="flexRadioDefault1" formControlName="opt" value="{{auxQuestion.opt4}}">
          <label class="form-check-label" for="opt">
            <a>{{auxQuestion.opt4}}</a>
          </label>
        </div>

    </div>

    <div class="align-button">
      <button class="button" (click)="responder()"> responder</button>
    </div>
  </div>

</div>
