.btn {
  padding: 15px;
  font-size: 18px;
  background-color: white;
  color: #f27830;
  border-radius: 5px;
}

.content-button {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f27830;
  padding: 18px;
  display: flex;
  width: fit-content;
  align-items: center;
  flex-direction: column;
}

.main_home {
  width: 100%;
  padding: 30px;
  display: block;
}
