.btn {
  padding: 15px;
  font-size: 18px;
  background-color: white;
  color: #f27830;
  border-radius: 5px;
}

.content-button {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f27830;
  padding: 18px;
  display: flex;
  width: fit-content;
  align-items: center;
  flex-direction: column;
}

.main_home {
  width: 90%;
  padding: 30px;
  display: block;
}

.text {
  color: white;
}

.container-list {
  margin-top: 20px;
}

.list-group-item {
  background-color: #f27830;
  margin-bottom: 15px;
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
