<span class="legend">Login</span>

<div class="main-register">

    <h3>Login</h3>

    <div>
        <table class="content-button">
            <tr>
                <td class="texts">Usuário:</td>
                <td><input class="input-user" type="text" name="nome" size="45"> <br /></td>
            </tr>
            <tr>
                <td class="texts">Senha:</td>
                <td><input class="input-password" type="password" name="assunto" size="45"> <br /></td>
            </tr>
        </table>
        <br />
        <span>
            <button class="btn" routerLink="/">Entrar</button>

            <button class="btn" routerLink="/">Cadastrar Usuário</button>
        </span>
        <div class="legend-forgot" routerLink="/forgot-password">Esqueceu sua senha?</div> 
    </div>
</div>
