<span class="legend">TURMAS</span>
<div class="main-register">

  <div class="container-input">
    <h3>Nome da turma</h3>
    <input class="input">
  </div>

  <div class="container-input">
    <h3>Código</h3>
    <input class="input">
  </div>

  <div class="container-input">
    <h3>Data</h3>
    <input class="input-date" type="date">
  </div>

  <div class="container-input">
    <h3>Descrição</h3>
    <textarea class="input"></textarea>
  </div>

  <div class="container-button">
    <button class="button btn">CANCELAR</button>
    <button class="button">CADASTRAR</button>
  </div>
</div>
