<span class="legend">TURMAS</span>
<div class="main-register">

  <div [formGroup]="form">
  <div class="container-input">
    <h3>Codigo da turma</h3>
    <input class="input" formControlName="codigo">
  </div>

  <div class="container-input">
    <h3>Descrição</h3>
    <textarea class="input" formControlName="description"></textarea>
  </div>

  <div class="container-button">
    <button class="button btn" >CANCELAR</button>
    <button class="button" (click)="register()">CADASTRAR</button>
  </div>
</div>
</div>
