@import "bootstrap/dist/css/bootstrap.min.css";
@import "prismjs/themes/prism-okaidia.css";
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "prismjs/plugins/line-highlight/prism-line-highlight.css";

/* You can add global styles to this file, and also import other style files */
h1 {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  color: white;
}

h3 {
  font-size: 24px;
  color: #f27830;
  font-weight: bold;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  color: white;
  margin-bottom: 16px;
}

p {
  font-size: 18px;
  color: white;
}

a {
  font-size: 18px;
  color: white !important;
}

.active {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.container {
  border-radius: 5px;
  background-color: #f27830;
  padding: 18px;
  line-break: auto;
  display: inline-block;
}

.main-register {
  margin: 2% 30%;
}

.main {
  width: 100%;
  padding: 30px;
}

.button {
  padding: 15px;
  font-size: 18px;
  background-color: #f27830;
  color: white;
  border-radius: 5px;
  border: none;
}

.button-white {
  padding: 5px 20px;
  font-size: 18px;
  background-color: white;
  color: #f27830;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.legend {
  font-size: 11px;
  text-decoration: underline;
  color: #f27830;
  margin-left: 10px;
}

.legend-forgot {
  font-size: 15px;
  text-decoration: underline;
  color: #f27830;
  margin-left: 10px;
  margin-top: 10px;
}

.leg {
  width: 100%;
  text-align: end;
}

.container-block {
  width: fit-content;
  border-radius: 5px;
  background-color: #f27830;
  padding: 15px;
}

.input {
  border-radius: 5px;
  background-color: #f2dbae;
  border: 1px solid #f27830;
  padding: 5px 10px;
  width: 100%;
}

.container-button {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
