<span class="legend">Equipe</span>

<div class="main">

    <h3>Equipe</h3>
    <div class="cont">
        <div class="container-block">
            <markdown [data]="markdown"></markdown>
        </div>
        <div class="container-block">
            <markdown [data]="markdown2"></markdown>
        </div>
        <div class="container-block">
            <markdown [data]="markdown3"></markdown>
        </div>
    </div>

    <br />
    <div class="container">
        <markdown [data]="markdown4"></markdown>
    </div>
</div>
