<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="content">PROBABILIDADE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="project">PROJETO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="team">EQUIPE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="contact">CONTATO</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link " href="classes">TURMAS</a>
          </li> -->
        </ul>
        <div class="d-flex">
          <a class="nav-link me-2" routerLink="/login">SAIR</a>
        </div>
      </div>
    </div>
  </nav>
