<span class="legend">Projeto</span>

<div class="main">

    <h3>Detalhes do Projeto</h3>


    <div>
        <h1>INTRODUÇÃO A PROBABILIDADE</h1>
    </div>
    <div>
        <table class="content-button">
            <tr>
                <td class="texts">Nome Completo:</td>
                <td><input class="imput-nome" type="text" name="nome" size="80"> <br /></td>
            </tr>
            <tr>
                <td class="texts">Assunto:</td>
                <td><input class="imput-assunto" type="text" name="assunto" size="80"> <br /></td>
            </tr>
            <tr>
                <td><input class="imput-obs" type="text" name="obs" size="104"> <br /></td>
            </tr>
        </table>
        <br />
        <span>
            <button class="btn" routerLink="/">Enviar</button>

            <button class="btn" routerLink="/">Cancelar</button>
        </span>
    </div>
</div>
