<span class="legend">Forgot Password</span>

<div class="main-register">

    <h3>Digite um email para recuperar sua senha</h3>

    <div>
        <table class="content-button">
            <tr>
                <td class="texts">Usuário:</td>
                <td><input class="input-email" type="text" name="nome" size="45"> <br /></td>
            </tr>
        </table>
        <br />
        <span>
            <button class="btn" routerLink="/login">Voltar</button>
            <button class="btn" routerLink="/login">Enviar</button>
        </span>
    </div>
</div>
