<span class="legend">TURMAS</span>
<div class="main">
  <div class="container-button">
    <button class="button" routerLink="classes-register"> CADASTRAR TURMA</button>
  </div>

  <div class="container-list">
    <ul class="list-group" *ngFor="let sala of salas">
      <li class="list-group-item active" aria-current="true" *ngIf="sala.isShow">
        <span> COD: {{sala.codigo}} </span>
        <button class="button-white" (click)="atualize(sala?._id)"> Arquivar</button>
      </li>
    </ul>
  </div>
</div>
