.btn {
  padding: 15px;
  font-size: 18px;
  background-color: white;
  color: #F27830;
  border-radius: 5px;
}

.content-button {
  margin-top: 20px;
  border-radius: 5px;
  background-color:#F27830;
  padding: 18px;
  display: flex;
  width: fit-content;
  align-items: center;
  flex-direction: column;
}